html, body {
  height: 100%;
}

body{
  background-color: #ff4c68;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

body{
  font-family: 'Montserrat', sans-serif;

}

#title{

/* overflow: hidden; */
  color: white;
  height: 100%;
}

.container-fluid{
  padding: 5% 15%;
}



.image-1{
  display: block;
  transform: rotate(20deg);
  width: 60%;
margin: 0 auto;
margin-right: 20%;


  }
/* .image-iphone{
  z-index: -1;
} */

/* Nava bar */

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bold;
}

.navbar{
  padding-bottom: 4.5rem;

}

.nav-link{
  font-size: 1.2rem;}

  /* Download Button */

.down-button{
margin: 5% 3% 5% 0;}

#features{
  background-color: white;
padding: 7% 10%;
position: relative;
z-index: 1;
}


.fa-solid{
  color: #ef8172;
  padding: 5%;

}
i:hover{
  color: #ff4c68;
}

h2{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;


}
h3{
font-family: "Montserrat";
font-weight: 700;
font-size: 1.5rem;

}

p {
  color: #8f8f8f
}


/* Boxes */
#testimonials{
text-align: center;
color: white;
display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item{
  padding: 7% 10%;


}
.dog{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

#press{
text-align: center;
padding-bottom: 5%;
}

#pricing{
  background-color: white;
}

.press-image{
width: 10%;
margin: 0 20px;
}

#pricing{
  padding: 100px;
}


@media (max-width:1028px) {
h1{
  text-align: center;

}
.image-1{
  display: static;
  transform: rotate(0deg);

}
#title{
  height: auto;
}

}

#cta{

background-color:  #ff4c68;
text-align: center;
padding: 5% 10%;
color: white;

}
.last{
  font-size: 3rem;
  font-weight: 700;

}

.spacing-icon{
  padding: 0 2%;
  padding-bottom: 2%;
}

#footer{
background-color: white;
text-align: center;

padding: 7% 10% 2% 10%;
}

.footar{
  border-top: 0;
  background-color: white;
  padding-bottom: 5%;
}
